
body {
font-size: 14px;
background: rgba(172,212,171,1);
margin: 0;
}

.barra_superior {
    display: flex;
    width: 100%;
    height: 125px;
    background: rgba(255,255,255,0.800000011920929);
    opacity: 1;
    margin: -7px -0 0px;
    justify-content: center;
}

.barra_superior a{
    text-decoration: none;
    color: #00371A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botoes_barra{
    font-size: 26px;
    margin: auto 2rem;
}

.botoes_barraDIR{
    margin: auto 2rem;
    font-size: 26px;
    float: right;
    text-underline-offset: 8px;
    outline: 0;
}

.buscar{
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    text-underline-offset: 8px;
    width: 300px;
    border-bottom: 2px solid black;
}

.buscar:focus{
    outline: 0;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    text-underline-offset: 8px;
    border-bottom: 2px solid black;
}

.carrinho{
    border-radius: 10px;
    font-size: 26px;
    padding: 10px;
    margin: 32px 0rem;
    float: right;
    background-color:rgb(195, 193, 193);
}

.login{
    height: 480px;
    width: 458px;
    background-color: #003734;
    position: absolute;
    top: 100px;
    right: 20px;
    backdrop-filter: blur(20px);
    text-align: center;
}

.titulo_loja{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white;
}
ul{
    margin: auto 0 auto 40px;
    float: right;
    list-style-type:none;
    display:flex;
    justify-content: center;
    /* width: 70%; */
}
li{
    display: inline-block;
    margin: 0 30px 20px;
    /* float: left; */
}

.card1 {
width: 320px;
height: 420px;
opacity: 1;
border: 5px solid rgba(10,125,56,1);
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
.card2 {
width: 320px;
height: 420px;
background-color: red;
opacity: 1;
border: 5px solid rgba(10,125,56,1);
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
.card3 {
width: 320px;
height: 420px;
background-color: yellow;
opacity: 1;
border: 5px solid rgba(10,125,56,1);
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.menu_categorias {
    margin-left: 20px;
width: 20%;
height: 765px;
background: rgba(255,255,255,1);
opacity: 1;
border: 5px solid rgba(10,125,56,1);
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.titulo_plantas {
width: 292px;
color: rgba(255,255,255,1);
position: absolute;
top: 198px;
left: 574px;
font-family: Amiko;
font-weight: Bold;
font-size: 80px;
opacity: 1;
text-align: center;
}
.pagina_loja{
    height: 1400px;
}
.paginas{
    text-align: center;
    width: 100%;
    font-size: 20px;
}

.paginas .pagebutton{
    color: #213F36;
    background-color: #ADD4AC;
    font-family: 'Amiko';
    font-weight: bold;
    
    padding: 20px;
    border-radius: 40px;
    margin: 0 20px;
}

.page_number{
    font-family: 'Amiko';
    font-weight: bold;
    color: #213F36;
    background-color: #ADD4AC;

    margin: 0 20px;
    height: 30px;
    width: 30px;
    padding: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.ondinha{
    background-image: url('../images/detalhe.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 471px;
    top: 1380px;
    z-index: -1;
}

.rodape {
    margin-top: 30px;
    height:240px;  
    background:rgb(219, 224, 220);
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(20, 102, 20);
}

.rodape h3{
    font-size: 30px;
    color: #00371A;
}
.rodape h6{
    font-size: 22px;
    color: #00371A;

    margin: -20px 0 20px;
    font-weight: normal;
}

.rodape img{
    margin-left: 20%;
}

.atendimento{
    display: inline-block;
    width: 300px;
    margin-top: -20px;
}

.localizacao{
    width: 500px;
    margin-top: -20px;
}

.textinhos{
    display: flex;
    margin: 0px 0 0 30px;
    padding: 20px 0 0;
}