
.content{
    position: relative;
    padding-bottom: 100px;
}
.rodape {
    position:absolute;
    left:0;
    bottom:-240px;
    right:0;
    height:240px;
    padding: 20px;
    background:white;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(20, 102, 20);
}

.rodape h3{
    font-size: 30px;
    color: #00371A;
    margin-bottom: 20px;
}
.rodape h6{
    font-size: 22px;
    color: #00371A;

    margin: -20px 0 20px;
    font-weight: normal;
}

.rodape img{
    margin-left: 20%;
}

.atendimento{
    display: inline-block;
    width: 300px;
    margin-top: -20px;
}

.localizacao{
    width: 500px;
    margin-top: -20px;
    margin-left: 120px;
}

.textinhos{
    display: flex;
    margin: 0px 0 0 30px;
    padding: 20px 0 0;
}

.logomarca{
    margin-left: 20%;
    height: 200px;
    width: 350px;
    background-image: url('../button_images/logo_fundo_branco.png');
    background-size: contain;
    background-repeat: no-repeat;
}